body {
    background-image: url(https://media.istockphoto.com/photos/retro-scifi-background-futuristic-grid-landscape-of-the-80s-digital-picture-id1142148530?k=20&m=1142148530&s=170667a&w=0&h=vU_b--f6hxwFyA37ONxrgjCgOns-MZ6ArZKAvzyK1gA=);
    background-repeat: no-repeat;
    background-size: cover;
}




.robot-head,
.left-arm,
.right-arm,
.left-leg,
.right-leg,
.left-foot,
.right-foot,
.robot-chest {
    background-color: rgb(145, 143, 143);
    border: black solid 2px;
}

.robot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.antenna-frame {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;

}

.antenna-ball {
    height: 10px;
    width: 10px;
    border-radius: 15px;
    background-color: rgba(226, 43, 43, 0.26);
    animation: strobe 2s 2s infinite;
}

@keyframes strobe {
    0% {
        height: 10px;
        width: 10px;
        border-radius: 15px;
        background-color: rgba(226, 43, 43, 0.26);
    }

    50% {
        height: 10px;
        width: 10px;
        border-radius: 15px;
        background-color: rgb(226, 43, 43);
        filter: brightness(150%);
        box-shadow: 1px 1px 15px #f8e1e1aa
    }

    100% {
        height: 10px;
        width: 10px;
        border-radius: 15px;
        background-color: rgba(226, 43, 43, 0.26);
    }
}

.antenna {
    height: 30px;
    width: 3px;
    border-radius: 20px 20px 0 0;
    background-color: rgb(145, 143, 143);
    ;
}

.robot-eyes {
    display: flex;
    position: relative;
}

.robot-head {
    width: 200px;
    margin: 0 auto;
    height: 150px;
    border-radius: 200px;
    margin-bottom: 0px;
    margin-left: 58px;
}

.neck {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.neck-display1 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(137, 43, 226, 0.685);
    margin-left: 20px;
}

.neck-display2 {
    width: 50px;
    height: 20px;
    border-radius: 20px 20px 0 0;
    background-color: rgba(137, 43, 226, 0.685);
    margin-left: 20px;
}

.forehead {
    display: flex;
    justify-content: center;
    margin: -10px;
}


.forehead-symbol {
    width: 20px;
    height: 20px;
    position: relative;
    top: 20px;
    border-radius: 0 90px 0 0;
    transform: rotate(-45deg);
    background-color: rgb(107, 110, 106);
}

.robot-eyes {
    display: flex;

}

.blush-frame {
    position: relative;

}

.blushL {
    position: absolute;
    top: 60px;
    left: 160px;
    height: 15px;
    width: 25px;
    border-radius: 180px;
    background-color: palevioletred;
    opacity: 0%;
    animation: blushing2 2s 2s infinite;
}


@keyframes blushing2 {
    0% {
        position: absolute;
        top: 60px;
        left: 160px;
        height: 15px;
        width: 25px;
        border-radius: 180px;
        background-color: palevioletred;
        z-index: 2;
        opacity: 0%;
    }

    25% {
        position: absolute;
        top: 60px;
        left: 160px;
        height: 15px;
        width: 25px;
        border-radius: 180px;
        background-color: palevioletred;
        z-index: 2;
        opacity: 50%;
    }

    50% {
        position: absolute;
        top: 60px;
        left: 160px;
        height: 15px;
        width: 25px;
        border-radius: 180px;
        background-color: palevioletred;
        z-index: 2;
        opacity: 100%;
    }

    25% {
        position: absolute;
        top: 60px;
        left: 160px;
        height: 15px;
        width: 25px;
        border-radius: 180px;
        background-color: palevioletred;
        z-index: 2;
        opacity: 50%;
    }

    100% {
        position: absolute;
        top: 60px;
        left: 160px;
        height: 15px;
        width: 25px;
        border-radius: 180px;
        background-color: palevioletred;
        z-index: 2;
        opacity: 0%;
    }


}


.blushR {
    position: absolute;
    top: 60px;
    left: 18px;
    height: 15px;
    width: 25px;
    border-radius: 180px;
    background-color: palevioletred;
    z-index: 2;
    opacity: 0%;
    animation: blushing 2s 2s infinite;
}

@keyframes blushing {
    0% {
        position: absolute;
        top: 60px;
        left: 18px;
        height: 15px;
        width: 25px;
        border-radius: 180px;
        background-color: palevioletred;
        z-index: 2;
        opacity: 0%;
    }

    25% {
        position: absolute;
        top: 60px;
        left: 18px;
        height: 15px;
        width: 25px;
        border-radius: 180px;
        background-color: palevioletred;
        z-index: 2;
        opacity: 50%;
    }

    50% {
        position: absolute;
        top: 60px;
        left: 18px;
        height: 15px;
        width: 25px;
        border-radius: 180px;
        background-color: palevioletred;
        z-index: 2;
        opacity: 100%;
    }

    75% {
        position: absolute;
        top: 60px;
        left: 18px;
        height: 15px;
        width: 25px;
        border-radius: 180px;
        background-color: palevioletred;
        z-index: 2;
        opacity: 50%;
    }

    100% {
        position: absolute;
        top: 60px;
        left: 18px;
        height: 15px;
        width: 25px;
        border-radius: 180px;
        background-color: palevioletred;
        z-index: 2;
        opacity: 0%;
    }


}


.upper-body {
    width: 300px;
    height: 150px;
    display: flex;
}

.left-arm {
    width: 40px;
    height: 125px;
    border-radius: 80px 80px 80px 80px;
    margin-right: 10px;
    transform: rotate(20deg);
}

.bumper {
    width: 50px;
    height: 30px;
    background-color: rgba(137, 43, 226, 0.952);
    border-radius: 120px;
    margin: -5px;
    position: relative;
    top: -5px;
    z-index: 2;
}

.right-arm {
    width: 40px;
    height: 125px;
    border-radius: 80px 80px 80px 80px;
    margin-left: -23px;
    transform-origin: top;
    transform: rotate(-170deg);
    animation: wave 700ms 1s infinite;
}

@keyframes wave {
    0% {
        transform: rotate(-170deg)
    }

    10% {
        transform: rotate(-160deg)
    }

    20% {
        transform: rotate(-150deg);
    }

    30% {
        transform: rotate(-140deg)
    }

    40% {
        transform: rotate(-130deg)
    }

    50% {
        transform: rotate(-120deg)
    }

    60% {
        transform: rotate(-130deg)
    }

    70% {
        transform: rotate(-140deg)
    }

    80% {
        transform: rotate(-150deg);
    }

    90% {
        transform: rotate(-160deg)
    }

    100% {
        transform: rotate(-170deg)
    }
}


.robot-chest {
    width: 200px;
    height: 200px;
    border-radius: 0 0 80px 80px;
    z-index: +1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-chest {
    width: 70px;
    height: 70px;
    position: relative;
    top: -45px;
    border-radius: 0 90px 0 0;
    transform: rotate(-45deg);
    background-color: rgb(107, 110, 106);
}

.robot-legs {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}

.left-leg,
.right-leg {
    width: 40px;
    height: 180px;
    border-radius: 0 0 160px 160px;
}

.left-leg {
    margin-left: 45px;
}

.right-leg {
    margin-left: 55px;
}

.left-eye {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 40px 40px 0 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    animation: eyeanimation2 2s 2s infinite;
}

@keyframes eyeanimation2 {
    0% {
        width: 20px;
        height: 20px;
        border-radius: 40px 40px 0 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }

    50% {

        width: 20px;
        height: 16px;
        border-radius: 40px 40px 0 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        transform: rotate(20deg);
    }
}

.right-eye {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 40px 40px 0 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    animation: eyeanimation 2s 2s infinite;
}


@keyframes eyeanimation {
    0% {
        width: 20px;
        height: 20px;
        border-radius: 40px 40px 0 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }

    50% {

        width: 20px;
        height: 16px;
        border-radius: 40px 40px 0 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        transform: rotate(-20deg);
    }
}

.pupil {
    width: 6px;
    height: 6px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
}

.iris {
    width: 3px;
    height: 3px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);

}

.left-eye {
    position: relative;
    top: 60px;
    left: 40px;
}

.right-eye {
    position: relative;
    top: 60px;
    left: 120px;
}

.robot-mouth {
    display: flex;
    justify-content: center;
}

.robot-smile {
    background-color: black;
    width: 40px;
    height: 5px;
    border-radius: 5px 5px 15px 15px;
    position: relative;
    top: 94px;
    display: flex;
    justify-content: center;
    animation: smiley 2s 2s infinite;

}

@keyframes smiley {
    0% {
        background-color: black;
        width: 40px;
        height: 5px;
        border-radius: 5px 5px 15px 15px;
        position: relative;
        top: 94px;
        display: flex;
        justify-content: center;

    }

    50% {
        background-color: black;
        width: 50px;
        height: 20px;
        border-radius: 0 0 15px 15px;
        position: relative;
        top: 94px;
        display: flex;
        justify-content: center;
    }



}


.tooth {
    height: 8px;
    width: 8px;
    border-radius: 0 0 10px 10px;
    background-color: white;
    margin-left: 3px;
}

.braces-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.line-brace {
    height: 2px;
    width: 2px;
    background-color: rgb(119, 118, 118);
}

.brace-box {
    height: 4px;
    width: 4px;
    background-color: blue;
}

aside {
    position: absolute;
    color: white;
    padding: 10px;
    top: 90px;
    left: 240px;
    font-family: 'Roboto Mono', monospace;
}



span {
    animation: robo 4s 2s infinite;
}

@keyframes robo {
    0% {
        font-size: medium;
    }

    50% {
        font-size: x-large;
    }

    100% {
        font-size: medium;
    }
}


@media only screen and (max-width:1250px) {
    aside {
        display: none;
    }
}